$bg-color: burlywood;
$btn-bg-color: white;
$ft-color: black;

body {
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  .btn-content {
    .btn {
      background-color: $btn-bg-color;
      color: $ft-color;
      padding: 20px 50px;
      cursor: pointer;
      transition: all ease 1s;
      &:hover {
        box-shadow: 5px 5px 7px 0px #000000;
        transition: all ease 1s;
      }
    }
  }
}